In [2]:
for i in range(0,4):
    for j in range(0,4):
        if i+j>=3:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

      *
    * *
  * * *
* * * *

In [3]:
name=input("Enter the name:")
for i in range(len(name)):
    for j in range(0,i+1):
        print(name[i],end='')
    print()

Enter the name:prajna
p
rr
aaa
jjjj
nnnnn
aaaaaa

In [5]:
rec={}
n= int(input("Enter the number of students:"))
i=1
while i<=n:
    name=input("Enter student name:")
    marks=input("enter %marks of student")
    rec[name]=marks
    i+=1
print("name of the student","\t","% of marks",name,marks)
for x in rec:
    print("\t",x,"\t,\t",rec[x])

Enter the number of students:2
Enter student name:prajna
enter %marks of student88
Enter student name:radha
enter %marks of student99
name of the student 	 % of marks radha 99
	 prajna 	,	 88
	 radha 	,	 99

In [6]:
word=input("Ener any word:")
d={}
for x in word:
    d[x]=d.get(x,0)+1
for k,v in d.items():
    print(k,"occure",v,"times")

Ener any word:pineapple
p occure 3 times
i occure 1 times
n occure 1 times
e occure 2 times
a occure 1 times
l occure 1 times

In [8]:
word=input("Enter any word:")
count=0
for x in word:
    if(x=='a'or x=='e'or x=='i'or x=='o'or x=='u'):
        count=count+1
print(count)

Enter any word:kamathe
3

In [9]:
word=input("Ener any word:")
d={}
vowels={'a','e','i','o','u'}
for x in word:
    if x in vowels:
        d[x]=d.get(x,0)+1
for k,v in d.items():
    print(k,"occure",v,"times")

Ener any word:pineapple
i occure 1 times
e occure 2 times
a occure 1 times

In [10]:
squares={x:x*x for x in range(1,6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [11]:
n=[1,2,3,4,5,5,5,5]
print(n.count(5))

4

In [12]:
print(n.index(5))

4

#################insert 
n=[1,2,3,4,5]
n.insert(1,888)
print(n)

In [14]:
n.append(5)

In [15]:
print(n)

[1, 888, 2, 3, 4, 5, 5]


t1=[10,20,30,40]
t2=[11,22,33,44]
t1=t2.extend(t1)
print(t1)

#####################extend 
t1=[10,20,30,40] 
t2=[11,22,33,44] 
t1=t2.extend(t1) 
print(t1)

In [ ]:
t1=[10,20,30,40]
t2=[11,22,33,44]
t1=t2.extend(t1) 
print(t1)

#####################sort############ 
n=["prajna","giri","rahul","joy"]
n.sort()
print(n)

In [19]:
n=["prajna",27,"giri",42,"rahul",45,"joy",22]
n.sort() 
print(n)

TypeError: '<' not supported between instances of 'int' and 'str'

In [20]:
x=[10,20,30,40]
y=x[:]
y[1]=777
print(x)
print(y)

[10, 20, 30, 40]
[10, 777, 30, 40]

In [21]:
n=["prajna","giri","rahul","joy"]
n.rev()
print(n)

AttributeError: 'list' object has no attribute 'rev'

In [22]:
x=[10,20,30,40]
y=x
y[1]=777
print(x)
print(y)

[10, 777, 30, 40]
[10, 777, 30, 40]

In [24]:
x=[10,20,30,40]
y=x.copy()
y[1]=777
print(x)
print(y)

[10, 20, 30, 40]
[10, 777, 30, 40]

In [25]:
a=[10,20,30,40,50]
b=[11,22,33,44,55]
c=a+b
print(c)

[10, 20, 30, 40, 50, 11, 22, 33, 44, 55]

In [27]:
x=["MITE","Mangalore","NITTE"]
y=["MITE","Mangalore","NITTE"]
x==y

True

z=['MTE',"Mangalore","NITTE"]
x==z

In [28]:
m=[10,20,30,[40,50,60]]
m[3]
m[4][1]

IndexError: list index out of range

In [29]:
m[2]
m[3][1]

50

In [30]:
m[3][1]

50

In [31]:
m[3][0]

40

In [32]:
n=[1,2,3,4]
print(4 in n)

True

In [33]:
def isprime(n):
    for i in range(0,n/2+1):
        if(i%2==0):
            print("no is prime")
        else:
            print("no is not prime")

In [34]:
isprime(5)

TypeError: 'float' object cannot be interpreted as an integer

In [36]:
def times2(var):
    return var*2
seq=[1,2,3,4,5]
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [37]:
seq=[1,2,3,4,5]
lambda var:var*2
list(map(lambda var:var*2,seq))

[2, 4, 6, 8, 10]

In [39]:
seq=[1,2,3,4]
lambda var:var+2
list(map(lambda var:var+2,seq))

[3, 4, 5, 6]

In [40]:
seq=[1,2,3,4,5]
lambda var:var*2
list(map(lambda var:var*2,seq))
list(filter(lambda item:item%2==0,seq))

[2, 4]

In [41]:
import numpy as np
my_list=[1,2,3]
my_list
np.array(my_list)

array([1, 2, 3])

In [42]:
my_matrix=[[1,2,3],[4,5,6],[7,8,9]]
my_matrix
np.array(my_matrix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [44]:
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [45]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [46]:
np.zeros(3)

array([0., 0., 0.])

In [47]:
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [99]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [49]:
np.linspace(0,10,50)

array([ 0.        ,  0.20408163,  0.40816327,  0.6122449 ,  0.81632653,
        1.02040816,  1.2244898 ,  1.42857143,  1.63265306,  1.83673469,
        2.04081633,  2.24489796,  2.44897959,  2.65306122,  2.85714286,
        3.06122449,  3.26530612,  3.46938776,  3.67346939,  3.87755102,
        4.08163265,  4.28571429,  4.48979592,  4.69387755,  4.89795918,
        5.10204082,  5.30612245,  5.51020408,  5.71428571,  5.91836735,
        6.12244898,  6.32653061,  6.53061224,  6.73469388,  6.93877551,
        7.14285714,  7.34693878,  7.55102041,  7.75510204,  7.95918367,
        8.16326531,  8.36734694,  8.57142857,  8.7755102 ,  8.97959184,
        9.18367347,  9.3877551 ,  9.59183673,  9.79591837, 10.        ])

In [50]:
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [51]:
np.random.rand(2)

array([0.65579954, 0.31886476])

In [52]:
np.random.rand(5,5)

array([[0.1164132 , 0.69344069, 0.51006304, 0.50686418, 0.05856323],
       [0.26992131, 0.80958544, 0.41337813, 0.79917568, 0.13132351],
       [0.08645828, 0.66000358, 0.27556918, 0.0119935 , 0.55598175],
       [0.12877417, 0.60600352, 0.53017086, 0.32642716, 0.12427498],
       [0.42474089, 0.27982352, 0.21617247, 0.99583371, 0.1175872 ]])

In [53]:
np.random.randn(5,5)

array([[-0.4718533 , -0.15537728,  0.80169884, -0.29384875, -1.6271155 ],
       [-1.42414459, -0.79559999, -1.51277707, -0.5804245 ,  0.72188961],
       [ 1.68835117, -0.14034091, -0.63883381, -0.1471793 ,  0.00800436],
       [-0.03615629,  0.37949807,  0.1302214 ,  0.25703952,  1.97225071],
       [ 1.25852191,  1.17753112, -2.255621  ,  0.75075721, -1.4699241 ]])

In [54]:
np.random.randint(1,100,10)

array([18,  2, 28, 42, 11, 68, 74, 92, 13, 13])

In [55]:
ar=np.random.randint(1,100,10)

In [56]:
print(ar)

[47 74 32 87 78 81 44 86 26 16]

In [57]:
ar=np.random.randint(1,100,10)
print(ar)

[90 65 33 63 46 77  4 33  7 30]

In [60]:
ar.reshape(5,5)

ValueError: cannot reshape array of size 10 into shape (5,5)

In [61]:
runar.max()

NameError: name 'runar' is not defined

In [62]:
ar.reshape(1,25)

ValueError: cannot reshape array of size 10 into shape (1,25)

In [63]:
arr=np.random.randint(1,100,10)
print(ar)

[90 65 33 63 46 77  4 33  7 30]

In [66]:
arr.reshape(1,10)

array([[32, 83,  2, 76, 92, 65, 31,  6, 17, 89]])

In [67]:
arr.reshape(1,10).shape

(1, 10)

In [68]:
arr.reshape(10,1)

array([[32],
       [83],
       [ 2],
       [76],
       [92],
       [65],
       [31],
       [ 6],
       [17],
       [89]])

In [69]:
arr=np.arange(0,10)
print(ar)

[90 65 33 63 46 77  4 33  7 30]

In [70]:
arr+arr

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [71]:
arr*arr

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])

In [72]:
arr/arr

C:\Users\KAMATH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

array([nan,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [73]:
arr-arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [74]:
1/arr

C:\Users\KAMATH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

array([       inf, 1.        , 0.5       , 0.33333333, 0.25      ,
       0.2       , 0.16666667, 0.14285714, 0.125     , 0.11111111])

In [75]:
np.sqrt(arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [76]:
np.exp(arr)

array([1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01,
       5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03])

In [77]:
np.sin(arr)

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
       -0.95892427, -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849])

In [78]:
np.log(arr)

C:\Users\KAMATH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458])

In [79]:
arr=np.arange(0,11)
print(arr)

[ 0  1  2  3  4  5  6  7  8  9 10]

In [80]:
arr[8]

8

In [81]:
arr[1:5]

array([1, 2, 3, 4])

In [82]:
arr[0:5]

array([0, 1, 2, 3, 4])

In [83]:
arr[0:5]=100

In [84]:
print(arr)

[100 100 100 100 100   5   6   7   8   9  10]

In [85]:
arr=np.arange(0,11)
print(arr)

[ 0  1  2  3  4  5  6  7  8  9 10]

In [86]:
arr>4

array([False, False, False, False, False,  True,  True,  True,  True,
        True,  True])

In [87]:
arr[arr>4]

array([ 5,  6,  7,  8,  9, 10])

In [89]:
np.zeros(12)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [90]:
np.ones(15)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

AttributeError: module 'numpy' has no attribute 'tens'

In [92]:
ar[5,5]=np.arange(0,8)

IndexError: too many indices for array

In [94]:
np.arange((0,8))

TypeError: arange: scalar arguments expected instead of a tuple.

In [95]:
arr=np.arange(0,8)
print(arr)

[0 1 2 3 4 5 6 7]

In [98]:
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])